@{
    ViewData["Title"] = "Home";
}

<div class="ui grid">
    <div class="six wide column">
        <div class="ui form">
            <div class="field">
                <label>Username</label>
                <input type="text" id="username" name="username" readonly />
            </div>
            <div class="field">
                <label>Recipient</label>
                <input type="text" id="recipient" name="recipient" placeholder="Type username here"/>
            </div>
            <div class="field">
                <button class="ui basic button" type="button" id="sendMessage">
                    <i class="icon share"></i>
                    Send Broadcast Message
                </button>
                <br />
                <br />
                <button class="ui basic button" type="button" id="sendDirectMessage">
                    <i class="icon user"></i>
                    Send Direct Message
                </button>
            </div>
        </div>
    </div>
    <div class="ten wide column">
        <div class="ui form">
            <div class="field">
                <label>Message</label>
                <textarea id="message" name="message" rows="3" placeholder="Type your message here"></textarea>
            </div>
            <div class="field">
                <label>Chat (will appear below)</label>
                <ul id="discussion"></ul>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="http://localhost:8081/signalr/hubs"></script>
    <script>
        var username = "";
        $(function () {
            // Declare a proxy to reference the hub.
            $.connection.hub.url = "http://localhost:8081/signalr";
            var chatProxy = $.connection.chatHub;

            // Get the user name and store it to prepend to messages
            username = prompt('Enter your name:', '');
            $.connection.hub.qs = { "username": username };

            // Create a function that the hub can call to broadcast messages.
            chatProxy.client.broadcastMessage = function (chatMessage) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(chatMessage.FromUsername).html();
                var encodedMsg = $('<div />').text(chatMessage.Message).html();
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };

            chatProxy.client.directMessage = function (chatMessage) {
                // Html encode display name and message.
                var encodedName = $('<div />').text(chatMessage.FromUsername).html();
                var encodedMsg = $('<div />').text(chatMessage.Message).html();
                // Add the message to the page.
                $('#discussion').append('<li><strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg + '</li>');
            };

            $('#username').val(username);
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function () {
                $('#sendMessage').click(function () {
                    var message = $("#message").val().trim();

                    if (message === "") {
                        alert("You must provide a message");
                        return false;
                    }
                    var request = { 'fromUsername': username, 'message': message };
                    // Call the Send method on the hub.
                    chatProxy.server.sendBroadcastMessage(request)
                        .fail(function (e) {
                            alert(e);
                        });
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });

                $('#sendDirectMessage').click(function () {
                    var toUsername = $("#recipient").val().trim();
                    var message = $("#message").val().trim();

                    if (toUsername === "") {
                        alert("You must provide a recipient");
                        return false;
                    }

                    if (message === "") {
                        alert("You must provide a message");
                        return false;
                    }

                    var request = { 'fromUsername': username, 'message': message };
                    // Call the Send method on the hub.
                    chatProxy.server.sendDirectMessage(toUsername, request)
                        .fail(function (e) {
                            alert(e);
                        });
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
    </script>
}